@import url("https://fonts.googleapis.com/css2?family=Boogaloo&family=Bubblegum+Sans&display=swap" rel="stylesheet");


.App {
  background-color: #E3DDDD;
  font-family: 'Philosopher', sans-serif;
  font-style: bold;
  text-align: center;
  font-family: 'Boogaloo';
}


/* PAGE FORMATTING */

#header,
#navbar,
#pageContainer,
#footer {
  margin: 0 auto;
  max-width: 1100px;
  min-width:550px;
  background-color: #e4673f;
  display: flex;
  justify-content: center;
}



#header{
  background-color: #6edcc4;
  min-height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:80px;
  }



#navbar{
  background-color: #2c2c2c;
  color: #f5f5f5;
  min-height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-items: center;
  position: relative;

  }
  
#rightLink{
  margin-right: 35px;
  position: absolute;
  right: 0;
} 





  .navBtn{
    font-family: 'Boogaloo';
    background-color: #2c2c2c;
    border: none;
    color: #f5f5f5;
    font-size: 25px;
    margin-left: 10px;
  }


#body{
  width: 750px;
  min-width: 350px;
  background-color: #f5f5f5;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}




#footer{
  background-color: #982a0d;
  min-height: 25px;
}


#introContainer{
  justify-self: center;
}



  /* #header,          
  #navBar, 
  #titleSpacer,        /**/
  /* #titleContainer,     */
  /* #footer, 
  .pageContainer,     
  #accPageContainer,  
  .redirectContainer   */ 




  /* COLOR PALETTE
  e4673f = ORANGE
  982a0d = RED
  21997f = DARK GREEN
  44e5c3 = LIGHT GREEN
  6edcc4
  d9d9d9 = GREEN
  f5f5f5 = 'WHITE'
  2c2c2c = 'BLACK'
  */